$background-color-dark: #252329;
$background-color-light: #FAFAFA;
$complimentary-color-dark: #393B43;
$complimentary-color-light: #E0E0E0;
$border: #BDBDBD;


$theme-colors: (
    "primary": #2F80ED
);


@import "~bootstrap/scss/bootstrap";


