<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p>Go to <a href="/protected/"><strong>PROTECTED</strong></a></p>

  <script src="/js/index.js"></script>
</body>

</html>