<!DOCTYPE html>
<html>

<head>
    <title>Auth Demo</title>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container py-5">
        <h1 class="display-5 mb-5">Protected Page 🔑 keep the secret</h1>
        <h6><a href="/">Back to home</a></h6>
    </div>
</body>

</html>